body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Hiragino Kaku Gothic ProN W3";
    box-sizing: border-box;
    background-color: #fce0e5;
    color: #d36e7a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    background-color: #f9d3da;
    border-radius: 40px;
    width: 600px;
    height: 1000px;
    margin: 100px auto 100px auto; /* 上に余白を追加し、左右中央揃え */
    padding: 20px; /* 内側の余白を追加 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 60%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    position: relative; /* 必要な場合に備えて位置を相対的に */
}

.image-wrapper {
    position: relative;
}

.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0; /* 縁を外側に広げる */
    left: 0;
    right: 0;
    bottom: 6px;
    border-radius: 15px; /* 画像の角と一致するように設定 */
    box-shadow: 0 0 60px rgba(211, 110, 127, 0.622); /* 縁だけぼかし */
}

img {
    width: 100%; /* コンテナに合わせて幅を設定 */
    height: auto; /* アスペクト比を維持するために高さを自動に設定 */
    border-radius: 15px; /* 画像の角を丸くする */
}

h3 {
    padding-top: 60px;
    margin-top: 20px; /* タイトルと画像の間にスペースを追加 */
}

p{
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

#close-btn {
    margin-top: 20px; /* 上にスペースを追加 */
    padding: 10px 20px;
    background-color: #d36e7a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#close-btn:hover {
    background-color: #b04b5f;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }   
}/* ページを閉じるときのアニメーション */
@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}


/* アニメーションが適用された状態 */
.fade-in {
    animation: fadeInScale 1s ease-out forwards;
}

.fade-out {
    animation: fadeOutScale 1s ease-in forwards;
}